h1 {
    border: 2px #eee solid;
    color: brown;
    text-align: center;
    padding: 10px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;   
  justify-content: center; 
  min-height: 100vh;
  margin: 0;
}

#ball {
  position: relative;
}

#ball-img {
  width: 250px;
  height: 250px;
  display: block;
  max-width: 400px;
  min-width: 300px;
}

#ball-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

#quote {
  position: absolute;
  color: white;
  text-align: center;
  opacity: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}