<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>8BallReality</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Welcome to the 8 Ball</h1>

<div id="ball">
  <img src="/static/eightball.png" id="ball-img">
  <div id="quote"></div>
</div>

<button onclick="getQuote()">Shake</button>


<script>
function getQuote() {
  fetch("/quote")
    .then(res => res.text())
    .then(text => {
      document.getElementById("quote").innerText = text;
    });
}
</script>

</body>
</html>
